<!--
  Generated template for the DataElementGroupsSetPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="data-element-groups-set">

  <ion-segment [(ngModel)]="currentGroupSet">
    <ion-segment-button *ngFor="let groupSet of metaData" (click)="showSegment(groupSet.id)" value="{{ groupSet.id }}">
      {{groupSet.name}}
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <div *ngFor="let groupSet of metaData">
      <div *ngIf="groupSet.id == currentGroupSet">
        <ion-list-header>{{ groupSet.name }}</ion-list-header>
        <div *ngFor="let group of groupSet.dataElementGroups">
          <button ion-item (click)="goToSelectedGroup(group)" >
            <ion-icon name="list" item-left></ion-icon>
            <h2>{{group.name}}</h2>
            <ion-icon name="arrow-round-forward" item-right></ion-icon>
          </button>
        </div>
      </div>
    </div>
  </ion-list>


</ion-content>
